html {
    background-color: #444;
    padding: 0 1em;
}

body {
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
    margin: 1em auto;
    max-width: 50em;
    height: 52.625em;
    padding: 10px;
}

#section left {
    width: 35%;
    float: left;
    height: 100%;
    background-color: rgb(150, 78, 134);
    color: rgb(196, 22, 158);
}

#section left,
section,
logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: rgb(136, 9, 9);
}